---
layout: default
title: Home
---
<div id="riding-lookup">
    <form id="riding-search-mobile" class="riding-search">
        <span>Search for your city ward by address:</span><br>
        <input type="text" size="25" placeholder="Street, City." autofocus="">&nbsp;
        <input type="submit" value="Go"><br>
        <span id="geolocate-span" style="display:none;">We can also try to <a href="#" id="geolocate-link">automatically find your city ward</a> based on your location.</span> Or you can select from a <a href="/wards/">list of wards</a>.
    </form>
    <div id="riding-message-mobile" class="riding-message"></div>
</div>
<div id="quick-nav">
    <ul>
    <li><a href="/candidates/#toronto-council">Alphabetical list of Toronto City Council Candidates</a></li>
    <li><a href="#toronto-wards">Alphabetical list of Toronto Wards</a></li>
    <li><a href="/candidates/#toronto-school-board">Alphabetical list of Toronto District School Board Candidates</a></li>
    </ul>
</div>
    
<div class="posts">
  {% for post in paginator.posts %}
  <div class="post">
    <h1 class="post-title">
      <a href="{{ post.url }}">
        {{ post.title }}
      </a>
    </h1>

    <span class="post-date">{{ post.date | date_to_string }} | <a href="{{ site.url }}{{ post.url }}#disqus_thread">Comments</a></span>

    {{ post.content }}
  </div>
  {% endfor %}
</div>

<div class="pagination">
  {% if paginator.next_page %}
    <a class="pagination-item older" href="{{ site.baseurl }}page{{paginator.next_page}}">Older</a>
  {% else %}
    <span class="pagination-item older">Older</span>
  {% endif %}
  {% if paginator.previous_page %}
    {% if paginator.page == 2 %}
      <a class="pagination-item newer" href="{{ site.baseurl }}">Newer</a>
    {% else %}
      <a class="pagination-item newer" href="{{ site.baseurl }}page{{paginator.previous_page}}">Newer</a>
    {% endif %}
  {% else %}
    <span class="pagination-item newer">Newer</span>
  {% endif %}
</div>

