/*
 * Themes
 *
 * Apply custom color schemes by adding the appropriate class to the `body`.
 * Based on colors from Base16: http://chriskempson.github.io/base16/#default.
 */

/* Blue */
.theme-everycandidate .sidebar,
.theme-everycandidate .sidebar-toggle:active,
.theme-everycandidate #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #005978;
}
.theme-everycandidate .container a,
.theme-everycandidate .sidebar-toggle,
.theme-everycandidate .related-posts li a:hover {
  color: #005978;
}

.masthead {
    padding-top: 0;
    padding-left: 2rem; 
}
h3.masthead-title {
    background: url('/public/img/everycandidate_colour_logo.png') no-repeat top center;
    padding: 0 0 20px 0;
    background-size: cover;
    text-indent: -5000px;
    margin: 0;
}

.content {
    padding-bottom: 1rem;
}

.fa {
    color: #E85321;
}

#footer {
    border-top: 1px solid #eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.page, .post {
    margin-bottom: 2em;
}

#riding-lookup {
    padding: 20px;
    background: #eee;
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

#riding-lookup form {
    margin-bottom: 10px;
}
#riding-search-mobile input[type="text"] {
    width: 50%;
    padding: 5px 0 5px 5px;
    font-size: 1rem;
}

#riding-search-mobile input[type="submit"] {
    font-size: 1rem;
}


/* ==========================================================================
Progressively enhance for larger screens 
========================================================================== */

@media screen and (min-width: 768px) { /* Adjust for large desktop */
    h3.masthead-title {
        padding: 0 0 100px 0;
    }
    .sidebar-toggle {
        top: 2rem;
    }
    .masthead {
        padding-left: 0; 
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) { /* Adjust for standard desktop */
    h3.masthead-title {
        background: url('/public/img/everycandidate_colour_logo.png') no-repeat 0;
        padding: 0 0 70px 0;
        background-size: cover;
        text-indent: -5000px;
        margin: 0;
    }
    .masthead .container {
        height: 80px;
    }
    .masthead {
        padding-left: 0; 
    }
}

@media screen and (min-width:768px) and (max-width: 992px) { /* portrait tablets */ 
    h3.masthead-title {
        background: url('/public/img/everycandidate_colour_logo.png') no-repeat 0px -15px;
        padding: 100px 0 0 0;
        background-size: cover;
    }
    .sidebar-toggle {
        top: 1.5rem;
    }
    .masthead {
        padding-left: 0; 
    }
}

@media screen and (min-width:480px) and (max-width: 767px) {
    h3.masthead-title {
        padding: 60px 0 0 0;
    }
    .masthead .container {

    }
    .sidebar-toggle {

    }
    .masthead {
        padding-left: 0; 
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
    /* Put high-resolution display styles here */
}
