<head>
    <script type="text/javascript">var _sf_startpt=(new Date()).getTime()</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <!-- General properties -->
    <meta name="description" content="{{ site.description }}" />
    <meta name="author" content="{{ site.author.name }}">
    <meta name="robots" content="index, follow" />
    <meta name="revisit-after" content="2 days" />
    <meta name="copyright" content="Copyleft 2014" />
    <meta name="MSSmartTagsPreventParsing" content="TRUE" />
    <!-- OpenGraph properties -->
    <meta property="og:title" content="{% if page.seo_title %}{{ page.seo_title }}{% elsif page.title%}{{ page.title}}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="http://everycandidate.org/public/img/everycandidate_fb.jpg" />
    <meta property="og:site_name" content="{{ site.name }}" />
    <meta property="fb:admins" content="{{ site.fb_admins }}" />
    <!-- Dublin Core properties -->
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <meta name="DC.title" lang="English" content="{% if page.seo_title %}{{ page.seo_title }}{% elsif page.title%}{{ page.title}}{% else %}{{ site.title }}{% endif %}" />
    <meta name="DC.creator" content="{{ site.author.name }}" />
    <meta name="DC.description" lang="English" content="{{ site.description }}" />
    <meta name="DC.publisher" content="{{ site.author.name }}" />
    <meta name="DC.format" content="text/html" />
    <meta name="DC.language" scheme="DCTERMS.URI" content="English" />
    <!-- /Meta -->
    <title>
        {% if page.title == "Home" %}
        {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
        {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title}}{% endif %} &middot; {{ site.title }}
        {% endif %}
    </title>

    <!-- CSS -->
    <style>
        {% include styles_print.html %}  
    </style>
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/poole.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/syntax.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/lanyon.css">
    <link rel="stylesheet" href="{{ site.baseurl }}public/css/everycandidate.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- Icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}public/favicon.ico">

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
