<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">Home</a>
    <a class="sidebar-nav-item{% if page.url == '/about/' %} active{% endif %}" href="/about/">About</a>
    <a class="sidebar-nav-item{% if page.url == '/candidates/' %} active{% endif %}" href="/candidates/">Candidates</a>
    <a class="sidebar-nav-item{% if page.url == '/wards/' %} active{% endif %}" href="/wards/">Wards</a>
    <a class="sidebar-nav-item{% if page.url == '/data/' %} active{% endif %}" href="/data/">Open Data</a>
    <a class="sidebar-nav-item{% if page.url == '/get-involved/' %} active{% endif %}" href="/get-involved/">Get Involved</a>
  </nav>

  <div class="sidebar-item">
    <p>
        <strike>&copy;</strike> {{ site.time | date: '%Y' }}. All rights reversed.
        <br />
        <span class="version"></a> EveryCandidate.org <a href="{{ site.github.repo }}">v{{ site.version }}</a></span>
    </p>
  </div>
</div>
