---
layout: default
---
<div class="ward">
    <h1>{{ page.title }} (School Ward&nbsp;{{ page.wid }})</h1>
    {% if content != '' %}
    {{ content }}
    {% else %}
    <p>It doesn't look like there's a write-up yet for this school ward. Can you write one? If so, please <a href="mailto:{{ site.author.email }}">get in touch.</a></p>
    {% endif %}
    <h2>Candidates for Toronto District School Board trustee</h2>
    <ul>
{% assign candidates = site.data.toronto_school_board | sort: 'name_last_lower' %}
{% for candidate in candidates %}
{% if candidate.school_ward == page.wid %}
<li><a title="Information on Toronto District School Board (ward {{ page.wid }}) trustee candidate {{ candidate.name_full }}" href="/toronto-school-board/{{ candidate.slug }}">{{ candidate.name_full }}</a> {% if candidate.incumbent == 'yes' %}(Incumbent){% endif %}</li>
{% endif %}
{% endfor %}
    </ul>
</div>
